[submodule "subjects/ED"]
	path = subjects/ED
	url = https://github.com/Eleee28/ED.git
[submodule "subjects/EC"]
	path = subjects/EC
	url = https://github.com/Eleee28/MSP430FR6989_device.git
[submodule "talks/RNN"]
	path = talks/RNN
	url = https://github.com/Eleee28/Workshop-RNN.git
